/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	background: #fff;
}
a {
	color: #f00;
	text-decoration: none;
	font-weight: bold;
}
strong {
	font-weight: bold;
}
.spacer {
	clear: both;
}
#wrapper {
	width: 685px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 80px;
}
#left {
	width: 275px;
	float: left;
	text-align: right;
	position: relative;
}
#airplane {
	position: absolute;
	left: 0px;
	top: 0px;
}
#logo {
	background: url(../images/movepix.png);
	margin-bottom: 10px;
	height: 100px;
	width: 405px;
	/*float: right;*/
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	/*margin-top: 120px;*/
}
#blurb {
	font-size: 16px;
	float: right;
	width: 200px;
	margin-bottom: 40px;
}
#appstore {
	/*float: right;*/
	/*width: 170px;*/
	margin: 30px 0;
}

#appstore a {
	background: url(../images/appstore.png) no-repeat;
	display: block;
	height: 65px;
	width: 170px;
	border-style: none;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#appstore a:hover {
	background-position: 0 -65px;
}
#main {
	width: 410px;
	float: left;
}
#iphone {
	background: url(../images/background.png) no-repeat;
	height: 698px;
	width: 370px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
#slideshow {
	height: 300px;
	width: 300px;
	top: 183px;
	left: 37px;
	position: absolute;
}
#slideshow img {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}
#slideshow img.active {
    z-index:10;
}
#slideshow img.last-active {
    z-index:9;
}
#copyright {
	margin: 10px;
	font-size: 16px;
	text-align: center;
}
#right {
	float: right;
	width: 275px;
	margin-top: 110px;
}
#right li {
	margin: 0 0 1em 0;
}
#slogan {
	font-size: 32px;
	color: #F00;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 200px;
}

